<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Procesando solicitud</title>
    <link rel="stylesheet" href="/static/ErrorStyles/400.css">
</head>
<body>
    <div class="container">
        <h1>Problemas en la comunicacion</h1>
        <p>estamos teniendo problemas para resolver tu solicitud</p>
        <div class="loader"></div>
        <a href="javascript:history.back()" class="button">Volver</a>
    </div>
</body>
</html>